%h1.index 半年間で体重が10%減るアプリ

= link_to introduction_path do
  %span.introduction はじめに
%br
= link_to new_blog_path do
  %span.meals 食事を記録する

= month_calendar events: @blogs do |date,blogs|
  = date.day

  - blogs.each do |blog|
    %li.meals
      = link_to blog.maindish,blog,{class: "mealslist"}