.blogs  
  .blogs-title  こんにちは！今日は何を食べましたか？
  = form_with model: @blog, local:true do |f|
    %h3.blogs-time
      食事した日時
      = f.datetime_select :start_time,{datetime_separator: "日",time_separator:'時'},class: "form-control" 
      分
    %h3.blogs-contents
      主食
      = f.text_field :maindish,class: "form-maindish",required: "required"
    %h3.blogs-contents
      おかず
      = f.text_field :sidedish
    %h3.blogs-contents
      おやつ
      = f.text_field :snack
    %h3.blogs-contents
      お酒
      = f.text_field :alcohol
    %h3.blogs-contents
      = f.label :name,"満腹メーター"
      = f.text_field :full_meter
    
    %h3.submit
      = f.submit '記録する',class: "submit-btn"