%p
  = @blog.start_time
%p
  %strong 主食
  = @blog.maindish
%p
  %strong おかず
  = @blog.sidedish
%p
  %strong おやつor夜食
  = @blog.snack
%p
  %strong お酒
  = @blog.alcohol
%p 
  %strong 満腹メータ
  = @blog.full_meter

= link_to 'back',blogs_path